---
import Layout from "$layouts/Layout.astro"
import PageCover from "$components/PageCover.astro"
import { contentfulClient, type BlogPost, type GalleryPhoto } from "$lib/contentful";
import type { InferGetStaticPropsType, PaginateFunction } from "astro";
import Gallery from "$components/Gallery.svelte";

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const perPage = 20;

  const entries = await contentfulClient.getEntries<GalleryPhoto>({
    content_type: "galleryPhoto",
    order: ["-fields.date"],
  });

  return paginate(entries.items, { pageSize: perPage });
}

const { page } = Astro.props;
---

<Layout title="Gallery">
  <PageCover src="/covers/gallery.jpg" slot="before-content">
    <h1 class="text-3xl uppercase font-jost tracking-widest font-semibold">Gallery</h1>
  </PageCover>

  <Gallery
    client:load
    gallery={page.data}
    perPage={page.size}
    totalPosts={page.total}
    currPage={page.currentPage}
  />
</Layout>
