* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.dim-image {
  background-color: hsl(0, 0%, 75%);
  background-blend-mode: multiply;
}

canvas {
  width: 100dvw;
  height: 100dvh;
}

@font-face {
  font-family: "ZhanKu";
  src: url(/fonts/ZhanKu.ttf);
}

.progressive-blur {
  /* -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, black); */
}
