* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.dim-image {
  background-color: hsl(0, 0%, 75%);
  background-blend-mode: multiply;
}

canvas {
  width: 100dvw;
  height: 100dvh;
}

@font-face {
  font-family: "ZhanKu";
  src: url(/fonts/ZhanKu.ttf);
}
