---
import Layout from "../layouts/Layout.astro"
import PageCover from "../components/PageCover.astro"
---

<Layout title="About">
  <PageCover src="/covers/about.webp">
    <h1 class="text-3xl uppercase font-jost tracking-widest font-semibold">About</h1>
  </PageCover>
</Layout>
