---
export const prerender = false;

import BlogPosts from "$components/BlogPosts.svelte";
import PageCover from "$components/PageCover.svelte";
import Layout from "$layouts/Layout.astro";

const params = Astro.url.searchParams;
const pageParam = params.get("page");
const page = pageParam ? +pageParam : 0;
const query = params.get("q");
---

<Layout title="Blog">
  <PageCover src="/covers/blog.webp" slot="before-content">
    <h1 class="text-3xl uppercase font-jost tracking-widest font-semibold">Blog</h1>
  </PageCover>

  <BlogPosts client:load {page} {query} />
</Layout>
