---
import Layout from "../layouts/Layout.astro"
import PageCover from "../components/PageCover.astro"
---

<Layout title="Blog">
  <PageCover src="/covers/blog.webp">
    <h1 class="text-3xl uppercase font-jost tracking-widest font-semibold">Blog</h1>
  </PageCover>
</Layout>
