---
import Layout from "$layouts/Layout.astro"
import PageCover from "$components/PageCover.svelte"
import { contentfulClient, type Destination } from "$lib/contentful";
import { image } from "$lib/utils";

const result = await contentfulClient.getEntries<Destination>({
  content_type: "destination",
});
let destinations = result.items.sort((a, b) => {
  if (a.fields.short < b.fields.short) return -1;
  if (a.fields.short > b.fields.short) return 1;
  return 0;
});
---

<Layout title="Destinations">
  <PageCover src="/covers/destinations.webp" slot="before-content">
    <h1 class="text-3xl uppercase font-jost tracking-widest font-semibold">Destinations</h1>
  </PageCover>

  <section class="text-neutral grid lg:grid-cols-4 grid-cols-1 gap-1">
    {destinations.map(item => (
      <a
        href={`/destinations/${item.fields.slug}`}
        style={{ backgroundImage: `url('${image(item.fields.cover?.fields.file?.url)}')` }}
        class="block h-80 bg-cover bg-center text-white relative dim-image duration-100"
      >
        <h1 class="absolute left-6 bottom-6 font-bold uppercase text-sm tracking-widest">
          {item.fields.name}
        </h1>
      </a>
    ))}
  </section>
</Layout>
