---
import Layout from "$layouts/Layout.astro";
import PageCover from "$components/PageCover.svelte";
import Canvas from "$components/Canvas.svelte";
---

<Layout title="Atlas Academy">
  <PageCover slot="before-content">
    <div class="space-y-2">
      <h2 class="text-md">啟程向世界學習</h2>
      <h1 class="text-4xl font-zhanku">世界是学校</h1>
    </div>
  </PageCover>

  <section class="-m-sm">
    <Canvas client:load />
  </section>
</Layout>
