---
export const prerender = false;

import { Label } from "bits-ui";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const text = data.get("text");

    console.log(name, text);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<form
  method="POST"
  class="w-full space-y-xs"
>
  <div class="space-y-xxs">
    <Label.Root for="body" class="uppercase tracking-widest font-semibold text-sm font-jost" id="createComment">
      Add Comment*
    </Label.Root>
    <textarea
      class="block w-full outline-none p-2 bg-neutral-100 text-neutral"
      id="text"
      name="text"
      rows={5}
      required
    />
  </div>

  <div class="space-y-xxs">
    <Label.Root for="author" class="uppercase tracking-widest font-semibold text-sm font-jost">
      Your Name*
    </Label.Root>
    <input
      type="text"
      class="block w-full outline-none p-2 bg-neutral-100 text-neutral"
      id="name"
      name="name"
      required
    />
  </div>

  <button
    class="uppercase tracking-widest font-jost font-semibold bg-neutral dark:bg-neutral-100 p-xxs px-xs text-sm text-white dark:text-neutral cursor-pointer"
  >
    Post Comment
  </button>
</form>
