---
interface Props {
	src?: string;
}

const { src = "/covers/home.webp" } = Astro.props;
---

<div
  class="h-screen w-screen bg-cover bg-center flex bg-fixed justify-center text-center text-white dim-image"
  style={{ backgroundImage: `url("${src}")` }}
>
  <div class="absolute bottom-44">
    <slot />
  </div>
</div>
