---
import "@fontsource-variable/jost";
import "../styles/global.css";

import Navbar from "$components/Navbar.svelte";
import Footer from "$components/Footer.svelte";
import { cn } from "$lib/utils";

interface Props {
	title: string;
  padding?: boolean;
  description?: string;
}

const {
  title = "Atlas Academy",
  padding = true,
  description = "The Atlas Academy blog"
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description}>
    <script is:inline async type="module">
      localStorage.theme === "dark" ||
			(!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
				? document.documentElement.classList.add("dark")
				: document.documentElement.classList.remove("dark");
    </script>
	</head>

	<body class="h-full bg-white dark:bg-neutral text-neutral dark:text-white duration-200 tracking-wider">
    <Navbar
      client:load
      isPost={Astro.url.pathname.startsWith("/posts/")}
      isHome={Astro.url.pathname === "/"}
    />

    <!-- Page cover -->
    <slot name="before-content" />

		<main class={cn("w-full", { "p-sm": padding })}>
      <slot />
    </main>

    <Footer />
	</body>
</html>
