---
import "@fontsource-variable/jost";
import "../styles/global.css";

import Navbar from "$components/Navbar.svelte";
import Footer from "$components/Footer.svelte";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="h-full">
    <Navbar
      client:load
      isPost={Astro.url.pathname.startsWith("/posts/")}
    />

    <!-- Page cover -->
    <slot name="before-content" />

		<main class="m-sm">
      <slot />
    </main>

    <Footer />
	</body>
</html>
